/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1837px;
  width: 93%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/* humburder icon */

.hamburger { 
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 10;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  border-top: 2px solid #000;
  text-indent: -99999px;
  height: 0;
  margin-bottom: 6px;
  float: left;
}

.hamburger.active .bar1 { -webkit-transform: rotate(45deg) translateX(7px); -ms-transform: rotate(45deg) translateX(7px); transform: rotate(45deg) translateX(7px); }
.hamburger.active .bar2 { display: none; }
.hamburger.active .bar3 { -webkit-transform: rotate(-45deg) translateX(5px); -ms-transform: rotate(-45deg) translateX(5px); transform: rotate(-45deg) translateX(5px); }

/* Main header */

header { width: 100%; }

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo { -ms-flex-preferred-size: 12.5%; flex-basis: 12.5%; }

.logo a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  background-color: #000;
}

.logo-left {
  width: 50%;
  padding: 10px 6px;
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: serif;
  line-height: 17px;
  background-color: #E3120B;
}

.logo-right {
  width: 50%;
  padding: 10px 7px;
  display: block;
  font-size: 11px;
  font-weight: bold;
}

nav,
.main-menu,
.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav { -ms-flex-preferred-size: 68.5%; flex-basis: 68.5%; }
nav a { color: #000; }
 
.main-menu { -ms-flex-preferred-size: 65%; flex-basis: 65%; }

.main-menu a { font-size: 21px; }

.main-menu a:hover {text-decoration: underline;}
.main-menu a.active { font-weight: bold; }

.sub-menu { -ms-flex-preferred-size: 31.5%; flex-basis: 31.5%; }

.sub-menu a,
.speaker-btn a,
.load-btn a {
  padding: 7px 20px;
  border: 1px solid #0E4351;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px;
  -webkit-transition: ease .4s;
  -o-transition: ease .4s;
  transition: ease .4s;
  color: #0E4351;
}

.load-btn a:hover,
.speaker-btn a:hover,
.sub-menu a:hover,
.sub-menu a.active {
  color: #fff;
  background-color: #142068;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner start */
.banner { 
  width: 100%;
  position: relative;
  color: #fff;
}

.banner .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.banner > figure { position: relative; }

.banner > figure::before {
  content: '';
  width: 100%;
  height: 91%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #9DC1B9 0%, rgba(159, 193, 186,.4));
}

.banner-heading {
  margin: 4.5% 0 1.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.imagin-logo figure,
.banner-heading figure {
  width: 9.8%;
  border-radius: 50%;
  margin: 0 25px;
  overflow: hidden;
}

.heading-content h2 {
  padding: 0;
  margin: 10px 0;
  /* font-size: 4vw; */
  font-size: 74px;
  font-weight: bold;
  line-height: 59px;
  /* line-height: 3.2vw; */
  color: #fff;
}

.heading-content h2 span { 
  display: block;
  /* font-size: 3vw; */
  font-size: 54px;
 }

.heading-content span { font-size: 28px; }

.banner p {
  margin: 11px 0;
  font-size: 45px;
  font-weight: bold;
  font-family: serif;
}

.date {
  font-size: 26px;
  font-weight: bold;
}

.banner-btn { margin: 3.5% 0; }

.banner-btn a {
  padding: 8px 3.3%;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 18px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  -webkit-transition: ease .4s;
  -o-transition: ease .4s;
  transition: ease .4s;
}

.banner-btn a:hover,
.banner-btn a.active {
  color: #40676f;
  background-color: #fff;
}

.banner-btn a.active { padding: 8px 4.5%; }
/* banner end */


/* tackel-question start */
.tackel-question { 
  width: 100%;
  text-align: center;
}

.tackel-question .wrapper { 
  width: 69.5%;
  padding: 33px 0 55px;
}

h3 {
  margin: 25px 0 20px;
  font-size: 47px;
  /* font-weight: bold; */
  font-family: serif;
  color: #151212;
}

.tackel-question p {
  padding: 0 6%;
  margin-bottom: 35px;
  font-size: 26px;
  line-height: 33px;
  font-family: serif;
  color: #22282e;
}

.tackel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tackel-item { 
  -ms-flex-preferred-size: 31.5%; 
      flex-basis: 31.5%;
  -webkit-transition: ease .4s;
  -o-transition: ease .4s;
  transition: ease .4s;
}

.plenary-gallery figure,  /* plenary-gallery section */

.tackel-item figure { 
  width: 99.5%;
  position: relative;
}

.plenary-gallery li:hover,  /* plenary-gallery section */
.tackel-item:hover { -webkit-box-shadow: 0 0 20px rgba(0,0,0,.5); box-shadow: 0 0 20px rgba(0,0,0,.5);}

.plenary-gallery li:hover figcaption,  /* plenary-gallery section */
.tackel-item:hover figcaption { opacity: 0; }


.plenary-gallery figure figcaption,  /* plenary-gallery section */
.tackel-item figure figcaption {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 27px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(28, 140, 148, .6);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
/* tackel-question end */


/* plenary-sessions start */
.plenary-sessions { width: 100%; }

.plenary-sessions .wrapper { 
  padding: 10px 0 38px;
  text-align: center;
}

.plenary-sessions h3 + span {
  font-size: 24px;
  font-family: serif;
}

.plenary-gallery {
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plenary-gallery li { margin: 15px 0;}

/* plenary-sessions end */

/* Main slider start */
.slider-main { 
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider-main .wrapper { 
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider {
  width: 86%;
  margin: 0 auto;
  text-align: center;
}

.slider-main figure { position: relative; }

.slider-main figure::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(28, 140, 148, .6);
}

/* .slider li { display: none; }

.slider li:first-child {
  display: block;
} */

.slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.left-content { -ms-flex-preferred-size: 45%; flex-basis: 45%; }

.left-content span {
  display: block;
  font-size: 28px;
  font-weight: bold;
}

span.count {
  margin: 35px 0;
  font-size: 12vw;
  font-weight: bold;
  font-family: serif;
}

.text-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: left;
}

.text-content p {
  font-size: 28px;
  font-weight: bold;
}

.slider .slick-prev:before, 
.slider .slick-next:before { opacity: 0; }
.slider .slick-dots { bottom: -23%; }

.slider .slick-dots li { margin: 0 10px; }

.slider .slick-dots li.slick-active button:before,
.slider li.slick-active button:before {
  opacity: .75;
  color: #fff;
}

.slider .slick-dots li button:before {
  margin: 0 20px;
  font-size: 23px;
  color: #dadada;
}

/* Main slider end */

/* imagining section start  */
.imagining { width: 100%; }

.imagining .wrapper {
  padding: 7% 0 5.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.imagin-logo {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagin-logo figure {
  width: 13%;
  border: 6px solid #45656b;
}

.imagin-logo h2 {
  padding: 5px 0;
  font-size: 46px;
  font-weight: bold;
  line-height: 39px;
}

.imagin-logo-content { color: #45656b; }

.imagin-logo h2 span {
  display: block;
  font-size: 35px;
}

.imagin-logo-content > span { font-weight: bold; }
.imagining article { 
  -ms-flex-preferred-size: 60%; 
      flex-basis: 60%;
  color: #434246;
}

article h3 { 
  margin: 0;
  color: #262627;
} 

.imagining article p {
  padding-right: 17%;
  margin: 20px 0 33px;
  font-size: 26px;
  line-height: 32px;
  font-family: serif;
}

article span {
  font-size: 26px;
  font-family: serif;
}


.imagining .space { 
  display: block;
  text-indent: -99999px;
}

/* imagining section end  */



/*============================
 New page CSS start 
 ============================*/

/* news-banner start */

.nbanner-heading { padding: 38px 0 35px; }
.nbanner-heading .wrapper {
  border-bottom: 5px solid #000;
}

h2 {
  padding: 15px 0;
  font-size: 27px;
  font-weight: bold;
}

.newbanner-main { 
  position: relative;
  color: #fff;
}

.newbanner-main figure { position: relative; }

.newbanner-main figure::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(14, 67, 81,.9)),to(rgba(157, 191, 174,.5)));
  background: -o-linear-gradient(left, rgba(14, 67, 81,.9) 35%,rgba(157, 191, 174,.5));
  background: linear-gradient(to right, rgba(14, 67, 81,.9) 35%,rgba(157, 191, 174,.5));
}

.newbanner-main h3 {
  width: 50%;
  padding-right: 18%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.newbanner-main p {
  width: 50%;
  font-size: 23px;
  color: #fff;
  line-height: 32px;
}


.newbanner-main .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* news-banner end */

/* New page article start */

.superyear-focus .wrapper {
  padding-bottom: 20px;
  border-bottom: 2px solid #908e8e;
}

.focus,
.superyear { 
  margin: 38px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.focus-content,
.superyear-content { width: 49%; }

.focus figure,
.superyear figure { width: 49%; }

.break {
  display: block;
  text-indent: -99999px;
}

.focus-content p,
.superyear-content p {
  font-size: 25px;
  line-height: 29px;
  font-family: serif;
  color: #484646;
}

.superyear-content p { padding-right: 4%; }
/* New page article end */

/* new plenary section start */
.new-plenary .plenary-gallery { margin: 0 0 35px; }

.new-plenary h2 { 
  padding: 15px 0 5px;
  font-size: 21px;
} 

#plenary li { cursor: pointer; }

.mainbox {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0,0,0,.6);
}

.whitebox {
  width: 65%;
  border: 5px solid #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.whitebox .whiteBtn {
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
  background-color: #fff;
}

.whitebox .whiteBtn::after {
  content: 'x';
  font-size: 20px;  
}


/* new plenary section end */

/*============================
 New page CSS end 
 ============================*/

/*=============================
Speakers page start 
==============================*/
.speaker-mainheading { margin-bottom: 20px; }
.speaker-mainheading h2 {
  padding: 15px 0;
  font-size: 27px;
  font-weight: bold;
  border-bottom: 5px solid #000;
  margin: 43px 0;
}

.speaker-mainheading p { font-size: 23px; }

.speaker-btn {
  padding: 39px 0;
  text-align: end;
  border-bottom: 1px solid #d6d4d4;
}

.speaker-tabs {
  padding: 5px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-btn a {
  padding: 10px 26px;
  border: 2px solid #40676f;
  border-radius: 6px;
  margin: 10px 16px;
  font-size: 20px;
  color: #0E4351;
}

.filter-btn a:hover,
.filter-btn a.active { border: 2px solid #f5f3f3; }


.searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  }

.searchbox input {
  width: 61%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-size: 18px;
  border: 2px solid;
  padding: 11px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchbox button {
  border: none;
  padding: 11px 17px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  background-color: #0E4351;
}

.searchbox button::after {
  content: '\f002';
  font-family: fontAwesome;
  color: #fff;
}

.searchbox button span {
  text-indent: -99999px;
  float: left;
}

.speakerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.speakerlist li { 
  padding: 25px 0;
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  display: none;
}

.speakerlist li figure {
  width: 65%;
  margin: 0 auto 25px auto;
  border-radius: 50%;
  position: relative;
}

.speakerlist li figure img { border-radius: 50%; }

.speakerlist figure::after {
  content: '';
  width: 47px;
  height: 37px;
  background: url('../images/flag.png');
  background-position: 0 0;
  position: absolute;
  right: -16%;
  bottom: 0%;
  border: 5px solid #efe9e9;
  border-radius: 28%;
}

.speakerlist li:nth-child(1) figure::after { background-position: 11% 64%; }
.speakerlist li:nth-child(2) figure::after { background-position: 58% 10%; }
.speakerlist li:nth-child(3) figure::after { background-position: 6% 10%; }
.speakerlist li:nth-child(4) figure::after { background-position: 21% 100%; }
.speakerlist li:nth-child(5) figure::after { background-position: 21% 63%; }
.speakerlist li:nth-child(9) figure::after { background-position: 94% 27%; }
.speakerlist li:nth-child(10) figure::after { background-position: 47% 72%; }
.speakerlist li:nth-child(12) figure::after { background-position: 94% 0; }

.speaker_name {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;
}

.speaker-title {
  font-size: 18px;
  line-height: 24px;
}

.load-btn {
  padding: 40px 0;
  margin: 40px 0;
  text-align: center;
}
  /*=============================
  Speakers page end
  ==============================*/


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
  background-color: #353a3e;
  color: #fff;
}

footer a { color: #fff; }

footer h4 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.footer-up { 
  padding: 40px 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 56%;
      flex-basis: 56%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu li {
  display: block;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

.footer-submenu a,
.group-list a {
  font-size: 17px;
  font-weight: bold;
  padding: 12px 0;
  -webkit-transition: ease .4s;
  -o-transition: ease .4s;
  transition: ease .4s;
}

.footer-submenu a:hover,
.group-list a:hover { text-decoration: underline; }

.newsletter { -ms-flex-preferred-size: 35%; flex-basis: 35%; }

.social-list {
  width: 60%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-list li { 
  margin: 8px 5px 8px 0;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.social-list span { 
  text-indent: -99999px;
  float: left;
}

.social-list a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background-color: #fff;
}

.social-list a::after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: fontAwesome;
  font-size: 25px;
  color: #353a3e;
}

.facebook::after { content: '\f09a'; }
.instagram::after { content: '\f16d'; }
.twitter::after { content: '\f099'; }
.linkdin::after { content: '\f0e1'; }
.youtube::after { content: '\f167'; }
.flicker::after { content: '\f16e'; }
.android::after { content: '\f17b'; }
.applestore::after { content: '\f179'; }

.social-list a:hover::after { opacity: .5; }

/* newsletter-form start */

.error { color: #E3120B; }

.main-controls {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-control {
  margin: 6px 0;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  position: relative;
}

.form-control select,
.form-control input {
  width: 100%;
  padding: 12px 9px;
  border-radius: 5px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

.form-control select {
  height: 100%;
  padding: 12px 3px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
}
.form-control:nth-child(1)::after,
.form-control:nth-child(6)::after,
.form-control:nth-child(7)::after {
  content: '\f0d7';
  height: 20px;
  padding: 0 12px;
  border-left: 1px solid #c0bcbc;
  position: absolute;
  right: 4%;
  top: 50%;
  font-size: 18px;
  font-family: fontAwesome;
  color: #808080;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
 
}

.main-controls ::-webkit-input-placeholder {
  font-size: 16px;
  /* font-weight: bold; */
}

.main-controls ::-moz-placeholder {
  font-size: 16px;
  /* font-weight: bold; */
}

.main-controls :-ms-input-placeholder {
  font-size: 16px;
  /* font-weight: bold; */
}

.main-controls ::-ms-input-placeholder {
  font-size: 16px;
  /* font-weight: bold; */
}

.main-controls ::placeholder {
  font-size: 16px;
  /* font-weight: bold; */
}

.newsletter p {
  padding-right: 18px;
  margin: 15px 0;
  font-size: 14px;
  font-weight: bold;
}

.subscribe {
  width: 97%;
  margin: 10px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;        
}

#wish {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.wish {
  position: relative;
  left: -8%;
  font-size: 18px;
  color: #fff;
}

.wish::after {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 2px;
  position: absolute;
  left: -11%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

#wish:checked~.wish::before {
  content: '';
  width: 15px;
  height: 10px;
  position: absolute;
  left: -11%;
  top: -7%;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 5;
}

input[type="checkbox"] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

input[type="submit"] {
  width: 21%;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
  -webkit-transition: ease-in .4s;
  -o-transition: ease-in .4s;
  transition: ease-in .4s;
}

input[type="submit"]:hover {
  color: #d2d2d2;
  background-color: #000;
}
/* newsletter-form end */


.footer-dwnlist,
.footer-dwn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-wrap: wrap; flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer-dwn {
  padding: 2.5% 0;
  border-top: 1.6px solid #6d6c6c;
  color: #b9b9b9;
}

.footer-dwn a {
  font-size: 15px;
  font-weight: bold;
  color: #b9b9b9;
}

.footer-dwn a:hover { text-decoration: underline; }

.footer-dwnlist { -ms-flex-preferred-size: 47%; flex-basis: 47%; }

/* Scroll btn */
.scrollbtn { 
  width: 61px;
  height: 61px;
  border-radius: 50%;
  display: none;
  position: fixed;
  bottom: 5%;
  right: 3.5%;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
          box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.scrollbtn.active { display: block; }

.scrollbtn a { 
  width: 61px;
  height: 61px;
  position: relative; 
}

.scrollbtn a::after {
  content: '\f077';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: fontAwesome;
  color: #149B92;

}

.scrollbtn span {
  text-indent: -99999px;
  float: left;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1731px) {

header .wrapper { width: 97%;}
nav { -ms-flex-preferred-size: 78.5%; flex-basis: 78.5%; }
.main-menu { -ms-flex-preferred-size: 56%; flex-basis: 56%; }

.sub-menu { 
  -ms-flex-preferred-size: 42.5%; 
      flex-basis: 42.5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sub-menu .menu-item { margin-right: 5px; }

.sub-menu a,
.main-menu a { font-size: 16px; }

  /* plenary-gallery section start */
  .plenary-gallery { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  /* plenary-gallery section end */

  /* new page banner section start */
  .newbanner-main p { width: 70%; }
  .newbanner-main h3 { 
    width: 100%;
    padding: 0;
  }
  /* new page banner section end */
}  

@media only screen and (max-width: 1024px) {

/* Header start */

.hamburger { display: block; }

.main-menu { 
  width: 100%;
  height: 700px; 
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: ease .4s;
  -o-transition: ease .4s;
  transition: ease .4s;
  background-color: #40676f;
  }

.main-menu a { color: #fff; }
.sub-menu { display: none; }
.main-menu.active { -webkit-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); }

nav { width: 100%; }

/* .menu-item { margin: 1px 0; } */
/* Header end */

/* Banner start */
.heading-content h2 {
  font-size: 48px;
  line-height: 38px;
}
.heading-content span { font-size: 18px; }
.heading-content h2 span { font-size: 33px; }

.banner p { font-size: 30px; }
.date { font-size: 18px; }

/* Banner end */


/* Slider section start */

.slider .wrapper { width: 100%; }

.left-content { -ms-flex-preferred-size: 26%; flex-basis: 26%; }
.text-content { -ms-flex-preferred-size: 70%; flex-basis: 70%; }

.text-content p { font-size: 20px; }
.left-content span { font-size: 18px; }
span.count { 
  margin: 0;
  font-size: 8vw; }

/* Slider section end */

/* imagining section start */

.imagining .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.imagining article p { font-size: 20px; }
/* imagining section end */


/* Footer section start */
.footer-up { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
footer h4 { font-size: 20px; }
.footer-submenu a, 
.footer-menu { width: 100%; }
.footer-item { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
.group-list a { font-size: 16px; }
.newsletter { margin: 40px 0; }

.social-list a {
  width: 30px;
  height: 30px;
}
.social-list a::after { font-size: 17px; }

.footer-dwn { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.footer-dwnlist {
  width: 100%;
  margin: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-dwnlist li { padding: 10px 0;}

.footer-dwn span {
  font-size: 14px;
  width: 100%;
  text-align: center;
}

/* Footer section end */


  /* Speaker page start */

.filter-btn a {
  padding: 5px 15px;
  margin: 5px;
  font-size: 18px;
}

.searchbox input { padding: 5px; }

.searchbox button {
  padding: 5px 13px;
  font-size: 16px;
}

.speakerlist li { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  /* Speaker page end */

}


@media only screen and (max-width: 995px) {
  
/* tackel-question section start */
.tackel-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.tackel-item { margin: 10px 0; }

.tackel-question p { 
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

h3 { font-size: 35px; }
/* tackel-question section end */

/* imagining section start */
.imagin-logo h2 {
  font-size: 35px;
  line-height: 30px;
}

.imagin-logo h2 span { font-size: 25px; }
.imagin-logo figure { width: 8%; }
/* imagining section end */


/* Footer section start */
.footer-menu { 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
          flex-direction: column;
  text-align: center;
} 

.footer-menu li { margin: 25px 0; }

.social-list { 
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list li { 
  margin: 0 6px;  
  -ms-flex-preferred-size: unset;  
      flex-basis: unset;
}

.social h4,
.newsletter h4 {
  margin: 10px 0;
  text-align: center;
}

.main-controls { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.form-control { 
  width: 65%;
  margin: 0 auto;
}

.subscribe { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.form-control select,
input[type="submit"] { font-size: 14px; }

.wish { 
  margin: 0;
  font-size: 14px;
}

/* new page start */

.newbanner-main .wrapper {
  width: 97%;
  text-align: center;
}

.newbanner-main h3 {
  width: 100%;
  padding: 0;
  margin: 5px 0;
  font-size: 30px;
}

.newbanner-main p {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}

.focus, .superyear { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.focus-content, .superyear-content { width: 100%; }

.focus figure, .superyear figure { 
  width: 100%;
  margin: 10px 0;
}

.focus-content p, .superyear-content p {
  font-size: 18px;
  line-height: 22px;
}

.whitebox { width: 90%; }

  /* new page end */

.speakerlist li { -ms-flex-preferred-size: 48%; flex-basis: 48%; }

}

@media only screen and (max-width: 640px) {

.banner  .wrapper { width: 100%; }
.heading-content h2 {
  margin: 0;
  font-size: 26px;
  line-height: 23px;
}

.newbanner-main { 
  background: url('../images/new1.jpg') no-repeat, -webkit-gradient(linear, left top, right top, color-stop(35%, #0E4351),to(#9DBFAE)); 
  background: url('../images/new1.jpg') no-repeat, -o-linear-gradient(left, #0E4351 35%,#9DBFAE); 
  background: url('../images/new1.jpg') no-repeat, linear-gradient(to right, #0E4351 35%,#9DBFAE);
  background-size: cover;
  background-blend-mode: overlay;
}
.newbanner-main figure { display: none; }

.newbanner-main .wrapper {
  padding: 20px 0; 
  position: relative;
  left: 0;
  top: 0; 
  -webkit-transform: translate(0); 
      -ms-transform: translate(0); 
          transform: translate(0);
}
.banner-heading { margin: 0; }
.heading-content h2 span { font-size: 18px; }

.date,
.heading-content span { font-size: 15px; }

.banner p { 
  margin: 2px 0;
  font-size: 25px; 
} 

.banner-btn { margin: 5px 0; }
.banner-btn a.active,
.banner-btn a { 
  padding: 5px 2%;
  font-size: 13px;
}

.text-content p { font-size: 14px; }

.left-content span,
.slider .slick-dots li button:before { font-size: 14px; }

span.count { font-size: 20px; }

.speakerlist li { 
  margin: 0 auto;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
  
} 