@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1837px;
  width: 93%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/* humburder icon */

.hamburger { 
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 10;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  border-top: 2px solid #000;
  text-indent: -99999px;
  height: 0;
  margin-bottom: 6px;
  float: left;
}

.hamburger.active .bar1 { transform: rotate(45deg) translateX(7px); }
.hamburger.active .bar2 { display: none; }
.hamburger.active .bar3 { transform: rotate(-45deg) translateX(5px); }

/* Main header */

header { width: 100%; }

header .wrapper {
  display: flex;
  padding: 17px 0;
  justify-content: space-between;
  align-items: center;
}

.logo { flex-basis: 12.5%; }

.logo a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #000;
}

.logo-left {
  width: 50%;
  padding: 10px 6px;
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: serif;
  line-height: 17px;
  background-color: #E3120B;
}

.logo-right {
  width: 50%;
  padding: 10px 7px;
  display: block;
  font-size: 11px;
  font-weight: bold;
}

nav,
.main-menu,
.sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav { flex-basis: 68.5%; }
nav a { color: #000; }
 
.main-menu { flex-basis: 65%; }

.main-menu a { font-size: 21px; }

.main-menu a:hover {text-decoration: underline;}
.main-menu a.active { font-weight: bold; }

.sub-menu { flex-basis: 31.5%; }

.sub-menu a {
  padding: 7px 20px;
  border: 1px solid #142068;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px;
  transition: ease .4s;
}

.sub-menu a:hover,
.sub-menu a.active {
  color: #fff;
  background-color: #142068;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner start */
.banner { 
  width: 100%;
  position: relative;
  color: #fff;
}

.banner .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.banner > figure { position: relative; }

.banner > figure::before {
  content: '';
  width: 100%;
  height: 85%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(144, 183, 177,.4);
}

.banner-heading {
  margin: 4.5% 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.imagin-logo figure,
.banner-heading figure {
  width: 9.8%;
  border-radius: 50%;
  margin: 0 25px;
  overflow: hidden;
}

.heading-content h2 {
  margin: 9px 0;
  /* font-size: 4vw; */
  font-size: 74px;
  font-weight: bold;
  line-height: 59px;
  /* line-height: 3.2vw; */
  color: #fff;
}

.heading-content h2 span { 
  display: block;
  /* font-size: 3vw; */
  font-size: 54px;
 }

.heading-content span { font-size: 28px; }

.banner p {
  margin: 11px 0;
  font-size: 45px;
  font-weight: bold;
  font-family: serif;
}

.date {
  font-size: 26px;
  font-weight: bold;
}

.banner-btn { margin: 3.5% 0; }

.banner-btn a {
  padding: 8px 3.3%;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 15px;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  transition: ease .4s;
}

.banner-btn a:hover,
.banner-btn a.active {
  color: #40676f;
  background-color: #fff;
}

.banner-btn a.active { padding: 8px 4.7%; }
/* banner end */


/* tackel-question start */
.tackel-question { 
  width: 100%;
  text-align: center;
}

.tackel-question .wrapper { 
  width: 69.5%;
  padding: 33px 0 55px;
}

h3 {
  margin: 25px 0 20px;
  font-size: 47px;
  /* font-weight: bold; */
  font-family: serif;
}

.tackel-question p {
  padding: 0 6%;
  margin-bottom: 35px;
  font-size: 26px;
  line-height: 33px;
  font-family: serif;
}

.tackel-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tackel-item { 
  flex-basis: 31.5%;
  transition: ease .4s;
}

.plenary-gallery figure,  /* plenary-gallery section */
.tackel-item figure { position: relative; }

.plenary-gallery li:hover,  /* plenary-gallery section */
.tackel-item:hover { box-shadow: 0 0 20px rgba(0,0,0,.5);}

.plenary-gallery li:hover figcaption,  /* plenary-gallery section */
.tackel-item:hover figcaption { opacity: 0; }


.plenary-gallery figure figcaption,  /* plenary-gallery section */
.tackel-item figure figcaption {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 27px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(144, 183, 177,.6);
  transition: .6s;
}
/* tackel-question end */


/* plenary-sessions start */
.plenary-sessions { width: 100%; }

.plenary-sessions .wrapper { 
  padding: 10px 0 38px;
  text-align: center;
}

.plenary-sessions h3 + span {
  font-size: 24px;
  font-family: serif;
}

.plenary-gallery {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.plenary-gallery li { margin: 15px 0;}

.plenary-gallery figure figcaption {
  background-color: rgba(0,0,0,.4);
}
/* plenary-sessions end */

/* Main slider start */
.slider-main { 
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.slider-main .wrapper { 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  width: 86%;
  margin: 0 auto;
  text-align: center;
}

.slider-main figure { position: relative; }

.slider-main figure::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.2);
}

/* .slider li { display: none; }

.slider li:first-child {
  display: block;
} */

.slider-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.left-content { flex-basis: 45%; }

.left-content span {
  display: block;
  font-size: 28px;
  font-weight: bold;
}

span.count {
  margin: 35px 0;
  font-size: 12vw;
  font-weight: bold;
  font-family: serif;
}

.text-content {
  flex-basis: 50%;
  text-align: left;
}

.text-content p {
  font-size: 28px;
  font-weight: bold;
}

.slider .slick-prev:before, 
.slider .slick-next:before { opacity: 0; }
.slider .slick-dots { bottom: -23%; }

.slider .slick-dots li { margin: 0 10px; }

.slider .slick-dots li.slick-active button:before,
.slider li.slick-active button:before {
  opacity: .75;
  color: #fff;
}

.slider .slick-dots li button:before {
  margin: 0 20px;
  font-size: 23px;
  color: #dadada;
}

/* Main slider end */

/* imagining section start  */
.imagining { width: 100%; }

.imagining .wrapper {
  padding: 7% 0 5.3%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.imagin-logo {
  flex-basis: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagin-logo figure {
  width: 13%;
  border: 6px solid #40676f;
}

.imagin-logo h2 {
  font-size: 46px;
  font-weight: bold;
  line-height: 39px;
}

.imagin-logo-content { color: #40676f;}

.imagin-logo h2 span {
  display: block;
  font-size: 32px;
}

.imagin-logo-content > span { font-weight: bold; }
.imagining article { 
  flex-basis: 60%;
  color: #434246;
}

article h3 { 
  margin: 0;
  color: #262627;
} 

.imagining article p {
  padding-right: 17%;
  margin: 20px 0 33px;
  font-size: 26px;
  line-height: 29px;
  font-family: serif;
}

article span {
  font-size: 26px;
  font-family: serif;
}


.imagining .space { 
  display: block;
  text-indent: -99999px;
}

/* imagining section end  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
  background-color: #353a3e;
  color: #fff;
}

footer a { color: #fff; }

footer h4 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.footer-up { 
  padding: 40px 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-menu {
  display: flex;
  flex-basis: 56%;
  justify-content: space-between;
}

.footer-menu li {
  display: block;
  flex-basis: 31%;
}

.footer-submenu a,
.group-list a {
  font-size: 17px;
  font-weight: bold;
  padding: 12px 0;
  transition: ease .4s;
}

.footer-submenu a:hover,
.group-list a:hover { text-decoration: underline; }

.newsletter { flex-basis: 35%; }

.social-list {
  width: 60%;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.social-list li { 
  margin: 8px 5px 8px 0;
  flex-basis: 30%;
}

.social-list span { 
  text-indent: -99999px;
  float: left;
}

.social-list a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background-color: #fff;
}

.social-list a::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: fontAwesome;
  font-size: 25px;
  color: #353a3e;
}

.facebook::after { content: '\f09a'; }
.instagram::after { content: '\f16d'; }
.twitter::after { content: '\f099'; }
.linkdin::after { content: '\f0e1'; }
.youtube::after { content: '\f167'; }
.flicker::after { content: '\f16e'; }
.android::after { content: '\f17b'; }
.applestore::after { content: '\f179'; }

.social-list a:hover::after { opacity: .5; }

/* newsletter-form start */

.error { color: #E3120B; }

.main-controls {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form-control {
  margin: 6px 0;
  flex-basis: 47%;
}

.form-control select,
.form-control input {
  width: 100%;
  padding: 12px 9px;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.form-control select {
  height: 100%;
  padding: 12px 3px;
  position: relative;
  font-size: 16px;
  -webkit-appearance: button;
  appearance: button;
}

.form-control select::after {
  content: 'D';
  color: red;
  width: 40px;
  height: 40px;
  background-color: green;
}


.main-controls ::placeholder {
  font-size: 15px;
  /* font-weight: bold; */
}

.newsletter p {
  padding-right: 18px;
  margin: 15px 0;
  font-size: 14px;
  font-weight: bold;
}

.subscribe {
  width: 97%;
  margin: 10px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wish {
  appearance: none;
  -webkit-appearance: none;
}

.wish {
  position: relative;
  left: -8%;
  font-size: 18px;
  color: #fff;
}

.wish::after {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 2px;
  position: absolute;
  left: -11%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}

#wish:checked~.wish::before {
  content: '';
  width: 15px;
  height: 10px;
  position: absolute;
  left: -11%;
  top: -7%;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg);
  z-index: 5;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

input[type="submit"] {
  width: 22%;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
  transition: ease-in .4s;
}

input[type="submit"]:hover {
  color: #d2d2d2;
  background-color: #000;
}
/* newsletter-form end */


.footer-dwnlist,
.footer-dwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-dwn {
  padding: 2.5% 0;
  border-top: 2px solid #8E9091;
  color: #d2d2d2;
}

.footer-dwn a {
  font-size: 15px;
  font-weight: bold;
  color: #d2d2d2;
}

.footer-dwn a:hover { text-decoration: underline; }

.footer-dwnlist { flex-basis: 47%; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1731px) {

header .wrapper { width: 97%;}
nav { flex-basis: 78.5%; }
.main-menu { flex-basis: 56%; }

.sub-menu { 
  flex-basis: 42.5%;
  justify-content: flex-start;
}

.sub-menu .menu-item { margin-right: 5px; }

.sub-menu a,
.main-menu a { font-size: 16px; }

  /* plenary-gallery section start */
  .plenary-gallery { justify-content: center; }
  /* plenary-gallery section end */
}  

@media only screen and (max-width: 1024px) {

  /* Header start */

  .hamburger { display: block; }

  .main-menu { 
    width: 100%;
    height: 50%; 
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transform: scaleY(0);
    transform-origin: top;
    transition: ease .4s;
    background-color: #40676f;
   }
  
  .sub-menu { display: none; }
  .main-menu.active { transform: scaleY(1); }

  nav { 
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column; 
    text-align: center;
  }

  /* .menu-item { margin: 1px 0; } */
  /* Header end */

/* Banner start */
.heading-content h2 {
  font-size: 48px;
  line-height: 38px;
}
.heading-content span { font-size: 18px; }
.heading-content h2 span { font-size: 33px; }

.banner p { font-size: 30px; }
.date { font-size: 18px; }

/* Banner end */


  /* Slider section start */

  .slider .wrapper { width: 100%; }

  .left-content { flex-basis: 26%; }
  .text-content { flex-basis: 70%; }

  .text-content p { font-size: 20px; }
  .left-content span { font-size: 18px; }
  span.count { 
    margin: 0;
    font-size: 8vw; }

  /* Slider section end */

  /* imagining section start */

  .imagining .wrapper { flex-direction: column; }
  .imagining article p { font-size: 20px; }
  /* imagining section end */


  /* Footer section start */
  .footer-up { flex-direction: column; }
  footer h4 { font-size: 20px; }
  .footer-submenu a, 
  .footer-menu { width: 100%; }
  .footer-item { flex-basis: 25%; }
  .group-list a { font-size: 16px; }
  .newsletter { margin: 40px 0; }

  .social-list a {
    width: 30px;
    height: 30px;
  }
  .social-list a::after { font-size: 17px; }

  .footer-dwn { flex-direction: column; }

  .footer-dwnlist {
    width: 100%;
    margin: 10px 0;
    flex-direction: column;
  }

  .footer-dwnlist li { padding: 10px 0;}

  .footer-dwn span {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  /* Footer section end */
}


@media only screen and (max-width: 995px) {
  
  /* tackel-question section start */
  .tackel-list { flex-direction: column; }
  .tackel-item { margin: 10px 0; }

  .tackel-question p { 
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }

  h3 { font-size: 35px; }
  /* tackel-question section end */

  /* imagining section start */
  .imagin-logo h2 {
    font-size: 35px;
    line-height: 30px;
  }

  .imagin-logo h2 span { font-size: 25px; }
  .imagin-logo figure { width: 8%; }
  /* imagining section end */


  /* Footer section start */
  .footer-menu { 
    flex-direction: column;
    text-align: center;
  } 

  .footer-menu li { margin: 25px 0; }

  .social-list { 
    width: 100%;
    justify-content: center;
  }

  .social-list li { 
    margin: 0 6px;  
    flex-basis: unset;
  }

  .social h4,
  .newsletter h4 {
    margin: 10px 0;
    text-align: center;
  }

  .main-controls { flex-direction: column; }

  .form-control { 
    width: 50%;
    margin: 0 auto;
  }

  .subscribe { flex-direction: column; }

  .form-control select,
  input[type="submit"] { font-size: 14px; }
  
  .wish { 
    margin: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {

  .banner  .wrapper { width: 100%; }
  .heading-content h2 {
    margin: 0;
    font-size: 26px;
    line-height: 23px;
  }
  .banner-heading { margin: 0; }
  .heading-content h2 span { font-size: 18px; }
  
  .date,
  .heading-content span { font-size: 15px; }
  
  .banner p { 
    margin: 2px 0;
    font-size: 25px; 
  } 

  .banner-btn { margin: 5px 0; }
  .banner-btn a.active,
  .banner-btn a { 
    padding: 5px 2%;
    font-size: 13px;
  }

  .text-content p { font-size: 14px; }

  .left-content span,
  .slider .slick-dots li button:before { font-size: 14px; }

  span.count { font-size: 20px; }
  
} 
